:root{
  --border: #110603;
  --primary: #006400;
  --light-border:#3f4a3c;
  --border-radius: 5px;
  background-color: #F4FCF1;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
nav{
  display: flex;
  justify-content: center;
  
}

.App nav {
  margin-top: 10px;
}

.App nav a{
  color: var(--primary)
}
.App nav a:link { 
  text-decoration: none; 
}
.App nav a:visited { 
  text-decoration: none; 
}
.App nav a:hover { 
  text-decoration: none; 
}
.App nav a:active { 
  text-decoration: none; 
}


main {
  width: 100%;
  margin-right: 100px;
  margin-left: 100px;
}

button {
  width: 200px;
  background-color: #006400;
  color: white
}

.turn-counter{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
  margin-right: 29px;
}
.game-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboard{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.game-tutorial{
  display:flex;
  align-items: center;
  flex-direction: column;
}
.player-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  width: 20%;
}
.gameboard-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 60%
}
.game-space {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.enemy-information{
  display: flex;
  width:20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  
}

.unit-display{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.unit-display p{
  margin: 2px;
}
.queue-image{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.div-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  border-radius: var(--border-radius);
  height: 20px;
  width: 50px;

}
header{
  display: flex;
  justify-content: center;
  background-image: url("assets/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
  width: 100%;
  height: 300px;
  opacity: .8;
  align-items: center;
}
.board-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer-bar {
  margin-top: 50px;
  height: 200px;
}

.row{
  display: flex;
}

.modal{
  height: 100px;
  width: 100px;
  background-color: burlywood;
}

.building-modal-container {
  display:flex;
  flex-direction: column;
}

.modal-title{
  display: flex;
  justify-content: center;
}

.building-item{
  display:flex;
  align-items: center;
}

.building-image{
  margin-right: 5px;
}

.button-modal-container{
  display: flex;
  justify-content: center;
}

.button-row{
  display: flex;
  flex-direction: row;

}
.grass{
  background: var(--primary);
  opacity: .8;
  height: 50px;
  width: 50px;
  border: 1px solid #110603;
  color: green;
}

.house{
  background-image: url("assets/house.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  border: 1px solid #110603;
}

.castlelt {
  background-image: url("assets/castlelt.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  height: 50px;
  width: 50px;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.castlert{
  background-image: url("assets/castlert.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.castellb{
  background-image: url("assets/castlelb.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;    
}

.castlerb{
  background-image: url("assets/castlerb.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.farm{
  background-image: url("assets/farm.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.barracks{
  background-image: url("assets/barracks.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.building{
  background-image: url("assets/building.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  border: 1px solid black;  
}

.building-queue{
  border-bottom: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-left: 2px solid lightgray;
  width: 100%;
}

.construction-nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tab{
  padding-right: 10px;
  padding-left: 5px;
  border-left: 2px solid lightgray;
  border-top: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-width: 50%;
}

.attack-button{
  display: flex;
  border: 2px solid black;
  border-radius:var(--border-radius);
  background-color: #660000;
  color: white;
  text-align: center;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  opacity: .8;
}

.turn-button{
  display: flex;
  border: 2px solid black;
  border-radius:var(--border-radius);
  background-color: #006163;
  color: white;
  text-align: center;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  opacity: .8;
}

.start-button{
  display: flex;
  border: 2px solid var(--border);
  border-radius:var(--border-radius);
  background-color: var(--primary);
  color: white;
  text-align: center;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: .8;
}
.homepage nav a{
  color: white
}

.game-information{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
  border-top: 4px solid var(--light-border);
  border-right: 4px solid var(--light-border);
  border-left: 4px solid var(--light-border);
  width: 728px;
  height: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.game-information p{
  margin-left: 5px;
  margin-right:5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.gameboard-actual{ 
  border: 4px solid var(--light-border);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}