.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
nav{
  display: flex;
  justify-content: center;
}


button {
  width: 200px;
  background-color: cadetblue;
  color: white
}

.turn-counter{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
  margin-right: 29px;
}
.game-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboard-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.game-space {
  display: flex;
  flex-direction: row;
}

.div-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  border-radius: 4px;
  height: 20px;
  width: 50px;

}
.board-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer-bar {
  margin-top: 50px;
  height: 200px;
}

.row{
  display: flex;
}

.modal{
  height: 100px;
  width: 100px;
  background-color: burlywood;
}

.building-modal-container {
  display:flex;
  flex-direction: column;
}

.modal-title{
  display: flex;
  justify-content: center;
}

.building-item{
  display:flex;
  align-items: center;
}

.building-image{
  margin-right: 5px;
}

.button-modal-container{
  display: flex;
  justify-content: center;
}

.grass-tile{
  background: green;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}